@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$rose-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--mat-sys-body-large-font, Roboto, sans-serif);
  background: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface);
}

@media print {
  html {
    color-scheme: light !important;
  }
}
